<%= form_for(@hold_template) do |f| %>
  <% if @hold_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hold_template.errors.count, "error") %> prohibited this hold_template from being saved:</h2>

      <ul>
      <% @hold_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Vessel Name: <%= f.text_field :vessel %><br />
  Hold Name: <%= f.text_field :hold  %><br />
  Number of Rows in Grid: <%= f.text_field :row_count %><br />
  Number of Columns in Grid: <%= f.text_field :column_count %><br />

  <%-# Selectable cells are determined by updating a template that already exists, using the edit/update_selectable_cells actions%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
