<p id="notice"><%= notice %></p>

<h2><%= @hold_template[:vessel]+" "+@hold_template[:hold] %> Template</h2><br/>
<h3>Highlighted cells are selectable, which indicates that cargo can be placed in them.</h3><br/>

<%= link_to 'Edit Hold Information', edit_hold_template_path(@hold_template) %><br/>
<%= link_to 'Edit Selectable Cells', :action => "edit_selectable_cells" %><br/>
<%= link_to 'Back To List of Vessel Templates', hold_templates_path %><br/>

<%= render "shared/hold_grid", :model => @hold_template %>

