<%= form_for(@sailing) do |f| %>
  <% if @sailing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sailing.errors.count, "error") %> prohibited this sailing from being saved:</h2>

      <ul>
      <% @sailing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vessel %><br />
    <%= f.text_field :vessel %>
  </div>
  <div class="field">
    <%= f.label :voyage %><br />
    <%= f.number_field :voyage %>
  </div>
  <div class="field">
    <%= f.label :direction %><br />
    <%= f.text_area :direction %>
  </div>
  <div class="field">
    <%= f.label :sailing_date %><br />
    <%= f.date_select :sailing_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
