<h1>Listing sailings</h1>

<table>
  <tr>
    <th>Vessel</th>
    <th>Voyage</th>
    <th>Direction</th>
    <th>Sailing date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sailings.each do |sailing| %>
  <tr>
    <td><%= sailing.vessel %></td>
    <td><%= sailing.voyage %></td>
    <td><%= sailing.direction %></td>
    <td><%= sailing.sailing_date %></td>
    <td><%= link_to 'Show', sailing %></td>
    <td><%= link_to 'Edit', edit_sailing_path(sailing) %></td>
    <td><%= link_to 'Destroy', sailing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sailing', new_sailing_path %>
