<p id="notice"><%= notice %></p>

<p>
  <b>Vessel:</b>
  <%= @sailing.vessel %>
</p>

<p>
  <b>Voyage:</b>
  <%= @sailing.voyage %>
</p>

<p>
  <b>Direction:</b>
  <%= @sailing.direction %>
</p>

<p>
  <b>Sailing date:</b>
  <%= @sailing.sailing_date %>
</p>


<%= link_to 'Edit', edit_sailing_path(@sailing) %> |
<%= link_to 'Back', sailings_path %>
