<!DOCTYPE html>
<html>
<head>
  <title>Backload</title>
  <%= include_gon :watch => true %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
